.cart-item.ng-enter{
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    background-color: yellow;
}

.cart-item.ng-enter-active{
    background-color: white;
}

.login{
    float: right;
}

img{
    width: 50%;
    height: 50%;
}

.table{
    table-layout: fixed;
}

.alert-success.ng-show{
     -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

#map { height: 180px; }

.loginArea{
    float: right;
}