
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Pizza hinzufügen</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal"  name="adminForm" novalidate>
            <fieldset>



                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="nameinput">Name der Pizza</label>
                    <div class="col-md-4">
                        <input id="name_input" name="nameinput" placeholder="Pizzaname" class="form-control input-md" type="text" ng-model="pizza.name" required="">
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="adminForm.nameinput.$touched && adminForm.nameinput.$valid">
                        <span class="glyphicon glyphicon-ok" ></span>
                    </div>
                    <div class="alert alert-danger" role="alert" 
                         ng-show="adminForm.nameinput.$error.required && adminForm.nameinput.$touched ||
                                                 adminForm.nameinput.$error.required && adminForm.upload_button.$dirty">
                        <b>Fehlende Angabe!</b> Name der Pizza wird benötigt
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="price_input">Preis der Pizza</label>
                    <div class="col-md-4">
                        <input id="price_input" name="price_input" placeholder="Pizzapreis" class="form-control input-md" type="number" step="0.01" ng-model="pizza.price" required="">
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="adminForm.price_input.$touched && adminForm.price_input.$valid">
                        <span class="glyphicon glyphicon-ok" ></span>
                    </div>
                    <div class="alert alert-danger" role="alert" 
                         ng-show="adminForm.price_input.$error.required && adminForm.price_input.$touched ||
                                                 adminForm.price_input.$error.required && adminForm.upload_button.$touched">
                        <b>Fehlende Angabe!</b> Preis der Pizza wird benötigt
                    </div>
                </div>

                <!-- File Button --> 
                <div class="form-group">
                    <label class="col-md-4 control-label" for="filebutton">Bild der Pizza</label>
                    <div class="col-md-4">
                        <input id="input-file" name="browse_button" class="input-file" type="file" 
                               ng-model="pizza.image" required="">
                    </div>

                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <button id="upload_button" name="upload_button" class="btn btn-primary" 
                                ng-model="upload" ng-click='vm.admin.saveImage(pizza.image, pizza.price, pizza.name);'
                                ng-disable="adminForm.nameinput.$dirty && adminForm.nameinput.$invalid ||
                                adminForm.price_input.$dirty && adminForm.price_input.$invalid" >
                            Upload
                        </button>
                    </div>
                </div>
                
                <!-- -->

                <div class="progress" ng-show="adminForm.nameinput.$invalid && adminForm.price_input.$invalid">
                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" 
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; min-width: 2em;"
                         >
                        <span>0% Complete (success)</span>
                    </div>
                </div>

                <div class="progress" ng-show="adminForm.nameinput.$valid && adminForm.price_input.$invalid ||
                                        adminForm.nameinput.$invalid && adminForm.price_input.$valid">
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" 
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"
                         >
                        <span class="sr-only">50% Complete (success)</span>
                    </div> 
                </div>

                <div class="progress" ng-show="adminForm.nameinput.$valid && adminForm.price_input.$valid" >
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" 
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"
                         >
                        <span>100% Pizza kann nun gespeichert werden!</span>
                    </div>
                </div>


            </fieldset>
        </form>
    </div>
</div>