<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Alle Bestellungen</div>

    <div class="panel-body row">


        <div class="btn-group" >
            <button type="button" class="btn btn-default" aria-label="Right Align">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </button>            
            <button type="button" class="btn btn-default" aria-label="Right Align">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
            <input type="text" class="form-control" placeholder="Suche nach ..." ng-model="searchOrder"> 
        </div>

    </div>


    <table class="table  table-striped">

        <thead>
            <tr>
                <th ng-init="sort = 'id'">
                    Kundennummer
        <div class="btn-group">
            <button type="button" class="btn" ng-click="sort = 'id'">
                <span class="glyphicon glyphicon-sort-by-alphabet" ></span>
            </button>
            <button type="button" class="btn" ng-click="sort = '-id'">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt" ></span>
            </button>
        </div>
        </th>
        <th>
            Datum, Zeit
        <div class="btn-group">
            <button type="button" class="btn" ng-click="sort = 'date'">
                <span class="glyphicon glyphicon-sort-by-alphabet" ></span>
            </button>
            <button type="button" class="btn" ng-click="sort = '-date'">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt" ></span>
            </button>
        </div>
        </th>
        <th> Pizzen</th>
        <th>
            Summe
        <div class="btn-group">
            <button type="button" class="btn" ng-click="sort = 'sum'">
                <span class="glyphicon glyphicon-sort-by-alphabet" ></span>
            </button>
            <button type="button" class="btn" ng-click="sort = '-sum'">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt" ></span>
            </button>
        </div>
        </th>
        </tr>
        </thead>

        <tbody>
            <tr ng-repeat="order in orders| orderBy : sort | filter:searchOrder">
                <td>

                    {{ order.id}}
                    <button type="button" class="btn-primary" ng-click="vm.admin.getCustomerById(order.id)">
                        <span class="glyphicon glyphicon-eye-open" ></span>
                    </button>
                </td>
                <td>{{ order.date + ', ' + order.time + ' Uhr'}}</td>
                <td>{{ order.items}}</td>
                <td>{{ (order.sum | number : 2) + ' €'}}</td>
            </tr>
        </tbody>

    </table>


</div>

