<button type="button" class="btn btn-default" ng-click="vm.admin.getOrders()" ></button>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Alle Bestellungen</div>

    <div class="panel-body btn-group">

        <button type="button" class="btn btn-default" aria-label="Right Align">
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        </button>            
        <button type="button" class="btn btn-default" aria-label="Right Align">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>



    </div>


    <div class="panel panel-primary" ng-repeat="customer in orders">

        <div class="panel-heading">{{ customer.lastname + " , " + customer.firstname}}</div>
        <div class="panel-body">
            <table ng-repeat="order in customer.order" class="table table-striped table-bordered">
                
                <thead>

                    <tr>        
                        <td>Datum</td>
                        <td>Pizza</td>
                        <td>Preis</td>   
                        <td>Menge</td>   
                    </tr>

                </thead>

                <tbody>

                    <tr ng-repeat="item in order.items">
                        <td>{{ order.date}}</td>
                        <td>{{ item.name}}</td>
                        <td>{{ item.price}}</td>
                        <td>{{ item.quantity}}</td>
                    </tr>

                </tbody>
               

            </table>
        </div>
    </div>


</div>

