<div ng-controller="LoginController as loginController">
    <form class="form-horizontal"  >
        <fieldset>

            <!-- Form Name -->
            <legend>Benutzeranmeldung</legend>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="username">Benutzername</label>
                <div class="controls">
                    <input id="username" name="username" placeholder="Benutzername" class="input-medium" type="text" ng-model="vm.username">
                </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
                <label class="control-label" for="password">Passwort</label>
                <div class="controls">
                    <input id="password" name="password" placeholder="Passwort" class="input-medium" type="password" ng-model="vm.password">

                </div>
            </div>

            <!-- Button -->
            <div class="control-group" >
                <label class="control-label" for="loginbutton"></label>
                <div class="controls">
                    <button id="loginbutton" name="loginbutton" class="btn btn-primary" ng-click=";">Login</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>


