<form class="form-horizontal" ng-controller='AdminController'>
<fieldset>

<!-- Form Name -->
<legend>Pizza hinzufügen</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nameinput">Name der Pizza</label>
  <div class="col-md-4">
      <input id="name_input" name="nameinput" placeholder="Pizzaname" class="form-control input-md" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="price_input">Preis der Pizza</label>
  <div class="col-md-4">
    <input id="price_input" name="price_input" placeholder="Pizzapreis" class="form-control input-md" type="text" >
    
  </div>
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Bild der Pizza</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click='admin.saveImage();'>Upload</button>
  </div>
</div>

</fieldset>
</form>
    <br><br>
<form class="form-horizontal"  ng-controller='AdminController'>
<fieldset>

<!-- Form Name -->
<legend>Filiale hinzufügen</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="city_input">Ort</label>  
  <div class="col-md-4">
  <input id="city_input" name="city_input" placeholder="Ortseingabe" class="form-control input-md" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="longitude_input">Längengrad</label>  
  <div class="col-md-4">
  <input id="longitude_input" name="longitude_input" placeholder="Längengradeingabe" class="form-control input-md" 
         type="number" step="0.0000001">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="latitude_input">Breitengrad</label>  
  <div class="col-md-4">
  <input id="latitude_input" name="latitude_input" placeholder="Breitengradeingabe" class="form-control input-md" 
         type="number" step="0.0000001">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="addCity"></label>
  <div class="col-md-4">
    <button id="addCity" name="addCity" class="btn btn-primary" ng-click='admin.saveLocation()'>Ort hinzufügen</button>
  </div>
</div>

</fieldset>
</form>



