<form>
    <input type="text" ng-model="search">
    <p>Du suchst gerade nach: {{ search.toUpperCase() + "!"}}</p> 
</form>


<br>


<table class="table" ng-controller="ArticlesController as articlesController">
    <tr ng-repeat="article in articles| filter:search" >
        <td>{{article._id}}</td>
        <td>{{article.name}}</td>
        <td><img src="data:image/jpg;base64,{{article.image}}"></td>
        <td>{{article.price}}</td>
<td><a href class="btn btn-default btn-sm" ng-click="cart.addArticle(article);">Hinzufügen</a></td>
</tr>
</table>

<div ng-controller="CartController as cartController">
    <div ng-hide="cart.getItems().length" class="alert alert-info">Ihr Warenkorb ist noch leer</div>
    <div ng-show="cart.sum() >= 10.00" class="alert alert-success fade in">Mindestbestellwert erreicht</div>
    <div ng-show="cart.sum() < 10.00" class="alert alert-warning">Mindestbestellwert ist noch nicht erreicht, sie benötigen noch {{(10.00 - cart.sum() | number:2) + "€"}}</div>

    <table ng-show="cart.getItems().length" class="table">
        <tr ng-repeat="item in cart.getItems() track by $index" class="cart-item">
            <td>{{item.quantity + "x"}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
        </tr>
        <tr>
            <td>{{cart.getArticleCount()}} Pizzen</td>
            <td>{{(cart.sum() | number:2) + "€"}}</td>
            <td></td>
        </tr>
        <tr>
            <td><a href class="btn btn-default btn-sm" ng-click="cart.insertOrderIntoDatabase();">Bestellen</a></td>
            <td><a href class="btn btn-default btn-sm" ng-click="cart.deleteArticles();">Zurücksetzen</a></td>
        </tr>

    </table>


</div>

<!--track by $index: you can show a pizza with the same id-->
